@charset "utf-8";

// baseフォントサイズを10pxに
html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {  // p { @include fontsize(16); } と
  font-size: $size + px;                 // pxで指定すると 
  font-size: ($size / $base) * 1rem;     // p { font-size: 16px; font-size: 1.6rem; }
}                                        // と自動でrem数値に変更してくれる関数

// baseフォントと基本色を変数で定義
$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$blue1 : #42b9d0;
$blue2 : #339fd1;
$gray_blue : #eaf2f4;

// header 6カラム・6カラム部分
header{

  background: $gray_blue;

  #header_in{           //スマホ時のpaddingを先に定義
    padding-top: 10px;
    padding-bottom:4px;
  }

  @media (max-width: 550px) { // 最大550pxまでロゴとナビはこの表示
    .logo{                    // それ以上は"u-max-full-width"
      width: 190px;  // max-width は『小さいい画面の時は』て意味でOK
                      // logoは元々 幅239pxみたい
    }               
                     
    .navi{
      width:40px;
      float: right;
    }
  }

  .sp_navi_li{   // タップで表示されるtoggleメニューのスタイル
    width: 180px;
    position: absolute; // ポジションは絶対表示
    top:50px;
    right:2%;
    z-index: 100;
    border: 1px solid #eee;
    background: white;
    margin: 0;
    padding:0;
    display: none; //スタイルは書いたがスマホメニューを非表示に

    li{

      list-style: none;
      margin: 0;
      padding:0;

      a{
        display: block;
        padding: 10px 8px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        text-decoration: none;
      }
    }
  }
  
  @media (min-width: 551px) { // 最小551pxまでは三本メニューは
    .sp_navi{                 // 表示されない
      display: none;
    }
    
        #header_in{
      padding: 15px 0 10px 0;   // PC表示時のpaddingを上書き
    }

    .pc_navi_li{
      margin:0;
      padding:0;

      li{
        list-style:none;
        margin: 5px 0 0 0;
        padding: 0;

        a{               //PC表示時の .pc_navi_li a を先に定義
          color: #626262;
          text-decoration: none;
          font-weight: bold;
          @include fontsize(14);
          float: left;
          padding-right: 10px;
        }

        a:hover{
          color: $blue1;
        }
      }
      // li

      li.navi_toppage a{  //クラスを付与した a を再定義
        //retina_bg

        background-repeat:no-repeat; // 背景のアイコンを一回だけ表示 削るとおもろい
        display: inline-block;  
        line-height: 40px;     // 行の高さ ほー
        padding-left: 50px; //背景アイコン１個分

          // ここから４行retina用 決まった書き方
          background-image: url("../images/top/navi_top.png");
          background-size: 40px 40px;   //等倍画像サイズ 元サイズ

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/navi_top@2x.png");

        }

      }
      // .li.navi_toppage a

      li.navi_news a{
        //retina_bg

        background-repeat:no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

          background-image: url("../images/top/navi_news.png");
          background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/navi_news@2x.png");

        }

      }
      // .li.navi_news a

      li.navi_company a{
        //retina_bg

        background-repeat:no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

          background-image: url("../images/top/navi_company.png");
          background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/navi_company@2x.png");

        }

      }
      // .li.navi_company a

    }
    // .pc_navi_li
    
  }
  // min-width: 551px
  
    @media (max-width: 550px) { // 最大550pxまではPCメニューは
    .pc_navi{                   // 表示されない
      display: none;
    }
  }
  // max-width: 550px
}


// header

#cover_area{

  text-align: center;  // 文字や画像に対して、水平方向の揃え方を指定 今回は「新時代のソリュ〜」
  padding:80px 0;

  //retina_bg

    background-image: url("../images/top/cover.jpg"); // header直下の画像とそのretina用
    background-size: cover;                           // 勝手に上下の幅からちょうどいい幅と高さに縦横比を保持したまま拡大・縮小  
                                                      // 背景いっぱいに画像を敷き詰めたいときに便利な指定方法
  @media screen and (-webkit-min-device-pixel-ratio:2),
                    (min-resolution: 2dppx){

    background-image: url("../images/top/cover@2x.jpg");

  }
  
  @media (min-width: 551px) {    // PC用スタイル

    text-align: left;     // 文字や画像に対して、水平方向の揃え方を指定 今回は「新時代のソリュ〜」
    height:420px;         // content areaの高さ
    padding:0;            // 上下80pxあったpaddingを0に

    img{                  // 「新時代のソリュ〜」
      margin-top: 180px;   
      margin-left: 70px;  // 画面左の70px以上の隙間？はskeltonで.containerのwidthが定義されてるから！
    }
  }
  // min-width: 551px

}

#service_area{

  padding-top:20px;            // スマホの時は20px

  @media (min-width: 551px) {  // PCの時は30px 
    padding-top: 30px;
  }
  // min-width: 551px


  .columns{

    color: #626262;      // フォントカラー指定

    .service_title{
      @include fontsize(18);  // 自動でrem数値へ変更してくれる関数を引用 lesson8 5.7
      font-weight: bold;
      margin-top: 8px;
    }

    p{

      @include fontsize(15);
      margin-top: 10px;
    }

    @media (min-width: 551px) {   // PCサイズ

      .service_title{
        @include fontsize(16);
      }
      
      p{
        @include fontsize(13);
      }
      
    }
    // min-width: 551px
  }
  // .columns
}
// #service_area


#news_area{

  background-color:$gray_blue;

  @media (min-width: 551px) {

    .container{

      padding:0px 10% 50px 10%;  // 親要素の横幅に対して10%で算出されるらしい つまりブラウザ幅のの横幅10%？？

    }

  }
  // min-width: 551px

  .news_title{

    text-align: center;    // 文字や画像に対して、水平方向の揃え方を指定する
    @include fontsize(26);
    color: $blue1;
    padding: 15px 0 10px 0;
    font-weight: bold;
    letter-spacing: 0.2rem;  //文字の間隔を指定 remはroot要素（html）を基準
  }

  .news_lists{

    li{
      list-style: none;
      @include fontsize(15);

      span{
        color: $blue1;
        font-weight: bold;
        display: block;
        margin-bottom: 3px;
      }
    }
    // li
  }
  // .news_lists

  @media (min-width: 551px) {

    .news_title{
      @include fontsize(22);
      padding: 50px 0 41px 0;
    }

    .news_lists{

      li{
        @include fontsize(14);
        margin-bottom: 20px;   // PCサイズの時はちょっと間隔空ける

        span{
          display: inline;     // PCサイズの時は日付は改行されないようにする
          margin-bottom: 0px;  // 改行時(スマホ時)に用意した下マージンも不要なので0に
        }
      }
      // li
    }
    // .news_lists

  }
  // min-width: 551px


}
// #news_area


footer{

  background-color:$blue1;   // containerの親要素なので画面いっぱいに色が入る
  color: #fff;
  padding-top: 20px;

  @media (max-width: 550px) {  // ここ以下スマホサイズ〜550pxの定義を上書き

    .container{

      margin: 0;  // skeltonが定義したmarginとpaddingを0に widthは ~399px 100%、400~549px 85%、550px 80% のはず！？
      padding: 0;
    }

    .sp{   // logo、住所、copyright (top ニュース 会社概要 のメニュー以外)

      padding: 0 6%;
      margin: 0 auto;

    }

    .foot_navi{

      margin-top: 20px;

      li{
        list-style: none;
        margin-bottom: 1px; // 隙間に1px の青い線が入る

        a{                             
          color:$blue1;
          background-color:$gray_blue;
          display: block;   // 幅549pxの時は親要素の100%まで(container{width:85%;} と同じ長さ)、margin 0 で左詰め 399pxで100%
          text-align: center;
          font-weight: bold;
          text-decoration: none;
          @include fontsize(16);
          padding: 16px 0;
        }
      }
    }
    // .foot_navi

  }
  // max-width: 550px



  .foot_address{

    @include fontsize(16);
    padding-top: 10px;
  }

  .copy{

    text-align: center;
    @include fontsize(11);
    color: #b2e1ea;
  }



  @media (min-width: 551px) {  // 551px以上を定義

    padding-top: 30px;

    .foot_address{
      padding: 0px;    // padding: 10px; を0に 0にしないとここだけへこむ
      @include fontsize(12);
    }

    .foot_navi{

      float: right;  // ? 必要？ four colums で右にいくんじゃ？？

      li{
        list-style: none;

        background-repeat: no-repeat; // 背景画像のリピートなし 画像はちっちゃい「▶」︎！
        background-position: left center; // 背景画像の表示開始位置を指定

        display: inline-block;
        float: left;  // 拡大して隙間ができれば順次左詰めで並んでく
        margin-right: 10px;
        @include fontsize(11);


        //retina_bg

          background-image: url("../images/top/foot_arroehead.png");
          background-size: 4px 6px; //画像原寸

        @media screen and (-webkit-min-device-pixel-ratio:2),
                          (min-resolution: 2dppx){

          background-image: url("../images/top/foot_arroehead@2x.png");

        }
        //retina_bg
      }
      // li

      a{

        color: white;
        padding-left: 10px;
        text-decoration: none;

      }

      a:hover{

        color:$gray_blue;
      }

    }
    // .foot_navi

    .copy{

      margin-top: 30px;
    }

  }
  // min-width: 551p


}
// footer

h1{
  margin: 0;
  padding: 0;
}
